@import '../styles/Variables';



// .contact-container{
//   scroll-snap-align: start;
//   overflow-y: scroll;
// }
//Positioning elements on the contact page
.contact-body-container{
margin: 3vh 0;
display: flex;
flex-direction: column;
flex-grow: 1;
}

// Contact form css
.contact-form{
display: flex;
flex-direction: column;
gap: 1vh;
justify-content: center;
}


//Controls size of input boxes
.contact-form-container{
width: 100%;
height: fit-content;
}

//Making contact form look pretty
input[type=text] {
  background-color: transparent;
  border: transparent;
font-size: 6vw;
box-shadow: inset 0px 0px 10px $neonPurple;

}
textarea{
background-color: transparent;
border: transparent;
height: 20vh;
border-radius: 25px;
padding: 20px;
font-size: 6vw;
resize: vertical;
max-height: 50vh;
box-shadow: inset 0px 0px 10px $neonPurple;

}

//Making inputs and button same height and shape
.contact-form>*:not(textarea){
height: 5vh;
border-radius: 30px;
text-align: center;
}
button{
  background-color: $neonMagenta;
  border: none;
  font-size: 6vw;
}
//Making the placeholder white in all browsers
//Chrome, Firefox, Opera, Safari 10.1+
::placeholder {
color: white;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white;
}

//Contact Image Links
.links-container>div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.links-container>div>.skill-outline{
  width: 20vw;
  height: 20vw;
  padding: 5px;
  border-radius: 15px;
}

img{
// shrinking images to fit inside their wrappers/parent element
width: 100%;
height: 100%;
object-fit: contain;
}