//Sass variables
$pink:#F29CED;
$fuchsia: #FF037A;
$purple:#3B1B72;
$standardFontSize:calc(1vw + 3px);
$h2FontSize:50px;

@mixin default-list-shape{
    height: 5vh;
border-radius: 30px;
text-align: center;
background-color: $purple;
border: $purple;
}

.project-wrapper{
  @include default-list-shape();
  line-height: 5vh;
  width: 400px;
  margin: 7px 0px;
//   This Line height is to vertically center the text

}


.projects-body-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-list-container{
    display: flex;
    justify-content: center;
}
