// //Sass variables
// $pink:#F29CED;
// $fuchsia: #FF037A;
// $purple:#3B1B72;
// $standardFontSize:calc(1vw + 3px);
// $h2FontSize:50px;

// @mixin default-list-shape{
//     height: 5vh;
// border-radius: 30px;
// text-align: center;
// background-color: $purple;
// border: $purple;
// }
@import '../styles/Variables';

.project-page-container{
    overflow: visible;
}

//Grid containing the list and the hidden detail that appears after a list is clicked
.project-and-detail-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;
    padding: 5vh 6vw;
}

//CSS for the detail container (more info about the projects)
.detail-container{
    height: fit-content;
    grid-column: span 2;
    width: 60vw;
    background-color: #3B1B72;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 15px;
    padding: 15px;
    grid-row: 1;
}


.project-wrapper{
  @include default-list-shape();
  line-height: 5vh;
  width: 25vw;
  margin: 7px 0px;
//   This Line height is to vertically center the text

}

//Postioning the list of projects
.projects-body-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-list-container{
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}


//overview, my role and tools used positioning css
.paragraphs-wrapper{
    grid-column: 1;
    margin-right: 20px;

}

//Shaping and position detail image
.detail-img{
    border-radius: 30px;

}

