
@import 'Variables';

/* Apply styles to scrollbar in the body element */
body::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: $darkerNavy; /* Color of the thumb */
  border-radius: 10px; /* Round the thumb */
}

body::-webkit-scrollbar-track {
  background: $navy; /* Color of the track */
}

/* Change the color of the scrollbar arrows */
body::-webkit-scrollbar-button {
  background: $navy; /* Color of the arrows */
  display: none;
}

//imported font and making all general text white
*{
  color: white;
  font-family: 'VT323', monospace;
}

//Making the video the background
.background{
  /** Simulationg background-size: cover */
object-fit: cover;
height: 100%;
width: 100%;

position: fixed;
top: 0;
left: 0;
z-index: -1;
}

.video-wrapper{
  /* Telling our absolute positioned video to 
be relative to this element */
position: fixed;

/* Will not allow the video to overflow the 
container */
overflow: hidden;

/* Centering the container's content vertically 
and horizontally */
text-align: center;
display: flex;
align-items: center;
justify-content: center;

}

html,body{
  // enables scrollsnap
  scroll-snap-type:y mandatory;
  margin: 0;
  /* change the above to y proximity if scroll snapping is too jarring */
}

// .page-container{
//   /* Styles for all but the last .page-container */
//   height: 100vh;
//   width: 100%;
//   scroll-snap-align: center;
//   overflow: hidden;
// }

// Homepage styling
.home-page-container{
  // The below is to generate a very subtle gradient for the homepage
  //becomes more opaque toward bottom to draw the eye downwards
  scroll-snap-align: center;
  $base-color: $navy;
  $gradient-stops: ();
  $stop-count: 22;

  @for $i from 0 through $stop-count {
    $opacity: ($i * 0.05);
    $gradient-stops: append($gradient-stops, rgba($base-color, $opacity), comma);
  }

  background: linear-gradient(to bottom, $gradient-stops);
  height: 100vh;
  overflow: hidden;


}

.title-wrapper{
  margin-top: 5vh;
}

.title-name{
  margin-left: 5vw;
  margin-right: 6vw;
}

#Sophia{
  text-align: left;
  margin-bottom: 0;
}

#Kinsey{
  text-align: right;
  margin-top: 0;
  transform: translateY(-5vw);
}

#WebDeveloper{
  margin: 0;
  // transform: translateY(-20vh);
}
// .page-container:not(#first-page-container){
//   background: repeating-linear-gradient(to bottom, $darkerNavy, $darkerNavy, $navy, transparent)

// }



//This is the wrapper for the headers of intro, projects and contact me
.header-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  object-fit: contain;
}


//NavBar Styling for homepage

.header-nav>nav{
  // transform: translate(5vw,15vh);
  font-size: 6vw;
  text-align: center;
  margin-top: 5vh;
}
.header-nav>nav>p{
  font-size: 8vw;
}
.header-nav>nav>*{
  margin: 0;
}
.header-nav>nav>h2{
  text-align: center;
}
.header-nav>nav>a>img{
  display: none;
}
nav>p>a:hover{
  color: $fuchsia;
}

nav>p>a{
  text-decoration: none;
}

//Styling body container which contains intro projects and contact me
.body-container {
  width: 100%;
  overflow: hidden;
  height: 100vh;

  background: radial-gradient(circle,lighten($navy,8%), $navy 50% 100% );
  scroll-snap-align: center;
}



.scrollable-container {
  margin: 0 7vw ; /* Adjust the margin to match the width of the fixed images */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 100vh; /* Set the height as needed */
  padding-top: 7vh;
  transform: translateY(-15vh);
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for WebKit-based browsers (like Chrome and Safari) */
  scrollbar-color: transparent transparent;
}
/* Hide scrollbar thumb on WebKit-based browsers (like Chrome and Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 0.1em;
}

/* Hide scrollbar track on WebKit-based browsers (like Chrome and Safari) */
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}





