/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  font-size: calc(10px + 2vmin);

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Above is original react css i thought there might be some useful things */

@import 'Variables';

/* Apply styles to scrollbar in the body element */
body::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background: $darkerNavy; /* Color of the thumb */
  border-radius: 10px; /* Round the thumb */
}

body::-webkit-scrollbar-track {
  background: $navy; /* Color of the track */
}

/* Change the color of the scrollbar arrows */
body::-webkit-scrollbar-button {
  background: $navy; /* Color of the arrows */
  display: none;
}

//imported font and making all general text white
*{
  color: white;
  font-family: 'VT323', monospace;
}

//Making the video the background
.background{
  /** Simulationg background-size: cover */
object-fit: cover;
height: 100%;
width: 100%;

position: fixed;
top: 0;
left: 0;
z-index: -1;
}

.video-wrapper{
  /* Telling our absolute positioned video to 
be relative to this element */
position: fixed;

/* Will not allow the video to overflow the 
container */
overflow: hidden;

/* Centering the container's content vertically 
and horizontally */
text-align: center;
display: flex;
align-items: center;
justify-content: center;

}

html,body{
  // enables scrollsnap
  scroll-snap-type:y mandatory;
  margin: 0;
  /* change the above to y proximity if scroll snapping is too jarring */
}

// .page-container{
//   /* Styles for all but the last .page-container */
//   height: 100vh;
//   width: 100%;
//   scroll-snap-align: center;
//   overflow: hidden;
// }

// Homepage styling
.home-page-container{
  // The below is to generate a very subtle gradient for the homepage
  //becomes more opaque toward bottom to draw the eye downwards
  scroll-snap-align: center;
  $base-color: $navy;
  $gradient-stops: ();
  $stop-count: 22;

  @for $i from 0 through $stop-count {
    $opacity: ($i * 0.05);
    $gradient-stops: append($gradient-stops, rgba($base-color, $opacity), comma);
  }

  background: linear-gradient(to bottom, $gradient-stops);
  height: 100vh;
  overflow: hidden;


}


// .page-container:not(#first-page-container){
//   background: repeating-linear-gradient(to bottom, $darkerNavy, $darkerNavy, $navy, transparent)

// }

.header-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  object-fit: contain;
}


//NavBar Styling
.header-nav>nav{
  transform: translate(5vw,15vh);
  font-size: 1.5em;
}
.header-nav>nav>*{
  margin: 0;
}

nav>p:hover a{
  color: $fuchsia;
}

//Styling body container which contains intro projects and contact me
.body-container {
  width: 100%;
  overflow: hidden;
  height: 100vh;

  background: radial-gradient(circle,lighten($navy,8%), $navy 50% 100% );
  scroll-snap-align: center;
}



.scrollable-container {
  margin: 0 7vw ; /* Adjust the margin to match the width of the fixed images */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 100vh; /* Set the height as needed */
  padding-top: 7vh;
  transform: translateY(-15vh);
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for WebKit-based browsers (like Chrome and Safari) */
  scrollbar-color: transparent transparent;
}
/* Hide scrollbar thumb on WebKit-based browsers (like Chrome and Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 0.1em;
}

/* Hide scrollbar track on WebKit-based browsers (like Chrome and Safari) */
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}


//Styling Footer
footer{
  display: flex;
  background-color: rgba(0, 0, 0, 0.207);
  scroll-snap-align: center;
  flex-direction: column;
  text-align: center;
  padding: 0vh 0 10vh 0;
  gap: 5vh;
}
.footer-transition{
  height: 20vh;
  $base-color: $navy;
    $gradient-stops: ();
    $stop-count: 20;
  
    @for $i from 0 through $stop-count {
      $opacity: ($i * 0.1);
      $gradient-stops: append($gradient-stops, rgba($base-color, $opacity), comma);
    }
  
  background: linear-gradient(to top, $gradient-stops);
}
footer p {
  margin: 1vw 1vw;
}
.footer-contact-info>a{
  font-size: 6vw;

}
// .footer-container>*>*{
//   margin: 0px;
// }
// .footer-copyright>p{
//   margin: 0;
// }
// .footer-nav>nav>*{
//   margin: 0;
// }

.footer-nav>nav>h3{
  display: none;
}




