@import 'Variables';

//Styling the clickable dropdown tab
.expanding-nav{
    background-color: black;
    height: 5vh;
    width: 100%;
    z-index: 2;
}

// Temporary Nav styling
.decorative-container>nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.decorative-container>nav>h2{
    display: none;
}

.decorative-container>nav>a{
    height: inherit;
}


