//Media Queries
// Mobile Devices (Portrait):

// Screen Width: Up to 480px
// Common Breakpoint: 320px, 375px, 414px (iPhone models)
// Mobile Devices (Landscape):

// Screen Width: 481px to 767px
// Common Breakpoint: 568px (iPhone in landscape)
// Tablet Devices:

// Screen Width: 768px to 1023px
// Common Breakpoint: 768px (iPad portrait)
// Small Desktops and Laptops:

// Screen Width: 1024px to 1199px
// Common Breakpoint: 1024px (iPad landscape)
// Standard Desktops:

// Screen Width: 1200px to 1439px
// Common Breakpoint: 1280px
// Large Desktops:

// Screen Width: 1440px and above
// Common Breakpoint: 1440px, 1600px, 1920px


//Original dimensions built for mobile
//I took a mobile first approach so no media query needed for the original dimensions
@media screen and (max-width: 480px) {
  }

@media screen and (min-width:481px) and (max-width: 767px){
    //Adjusting font size of constants across the webpage
    h2{
        font-size: 7vw;
    }
    h3{
        font-size: 10vw;
    }
    p{
        font-size: 5vw;
    }

    //Adjusting footer
    .footer-contact-info > a{
        font-size: 5vw;
    }

    //Adjusting home page menu links font size
    .header-nav > nav > p{
        font-size: 5vw;
    }


    //Contact Me Page
    //Adjusting contact form font sizes
    input[type=text]{
        font-size: 5vw;
    }
    textarea{
        font-size: 4vw;
    }
    button{
        font-size: 5vw;
    }
    
    //Adjusting layout of contact page
    .contact-body-container{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        gap: 5vw;
    }
    .links-container > div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .links-container > div > .skill-outline{
        width: 10vw;
        height: 10vw;
        margin: 0px 0 20px 0;
    }

}

// Tablet devices
@media screen and (min-width:768px) and (max-width: 1023px){
    //Adjusting font size of constants across the webpage
    h2{
        font-size: 7vw;
    }
    h3{
        font-size: 10vw;
    }
    p{
        font-size: 5vw;
    }

    //Adjusting footer
    .footer-contact-info > a{
        font-size: 5vw;
    }

    //Adjusting home page menu links font size
    .header-nav > nav > p{
        font-size: 5vw;
    }


    //Contact Me Page
    //Adjusting contact form font sizes
    input[type=text]{
        font-size: 5vw;
    }
    textarea{
        font-size: 4vw;
    }
    button{
        font-size: 5vw;
    }
    
    //Adjusting layout of contact page
    .contact-body-container{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        gap: 5vw;
    }
    .links-container > div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .links-container > div > .skill-outline{
        width: 10vw;
        height: 10vw;
        margin: 0px 0 20px 0;
    }
}

//Small Desktops and Laptops
@media screen and (min-width:1024px) and (max-width: 1199px){
    //Adjusting font size of constants across the webpage
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 8vw;
    }
    p{
        font-size: 3vw;
    }

    //Adjusting footer
    .footer-contact-info > a{
        font-size: 3vw;
    }

    //Adjusting home page menu links font size
    .header-nav > nav > p{
        font-size: 4vw;
    }

    //Intro page
    //Adjusting the layout of the Skills Icons
    .skills-icon-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    //Contact Me Page
    //Adjusting contact form font sizes
    input[type=text]{
        font-size: 4vw;
    }
    textarea{
        font-size: 4vw;
    }
    button{
        font-size: 4vw;
    }
    
    //Adjusting layout of contact page
    .contact-body-container{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        gap: 5vw;
    }
    .links-container > div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .links-container > div > .skill-outline{
        width: 10vw;
        height: 10vw;
        margin: 0px 0 20px 0;
    }
}

//Standard Desktops
@media screen and (min-width:1200px) and (max-width: 1439px){
    //Adjusting font size of constants across the webpage
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 8vw;
    }
    p{
        font-size: 3vw;
    }

    //Adjusting footer
    .footer-contact-info > a{
        font-size: 3vw;
    }

    //Adjusting home page menu links font size
    .header-nav > nav > p{
        font-size: 4vw;
    }

    //Intro page
    //Adjusting the layout of the Skills Icons
    .skills-icon-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    

    //Project Page
    //Changing detail container from a flex to grid layout
    .detail-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5vw;
        padding: 2vw;
    }
    .paragraphs-wrapper{
        grid-column: 1;
    }
    .detail-img-and-link-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    //Contact Me Page
    //Adjusting contact form font sizes
    input[type=text]{
        font-size: 4vw;
    }
    textarea{
        font-size: 3vw;
    }
    button{
        font-size: 4vw;
    }
    
    //Adjusting layout of contact page
    .contact-body-container{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        gap: 5vw;
    }
    .links-container > div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .links-container > div > .skill-outline{
        width: 10vw;
        height: 10vw;
        margin: 0px 0 20px 0;
    }
}

//Large Desktops
@media screen and (min-width:1440px){
    //Adjusting font size of constants across the webpage
    h2{
        font-size: 3vw;
    }
    h3{
        font-size: 5vw;
    }
    p{
        font-size: 2vw;
    }

    //Navbar
    .decorative-container>nav{
        height: 10vh;
    }

    //Adjusting footer
    .footer-contact-info > a{
        font-size: 2vw;
    }

    //Adjusting home page menu links font size
    .header-nav > nav > p{
        font-size: 3vw;
    }

    //Intro page
    //Adjusting the layout of the Skills Icons
    .skills-icon-container{
        grid-template-columns: repeat(8,1fr);
    }
    .expanded{
        align-items: center;
        padding: 1vw;
        gap: 2vw;
    }
    .expanded>img{
        width: 5vw;
        height: 5vw;
    }
    .selectedSkill{
        grid-column: span 4;
    }

    //Project Page
    //Changing detail container from a flex to grid layout
    .detail-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5vw;
        padding: 2vw; 
    }
    .paragraphs-wrapper{
        grid-column: 1;
    }
    .detail-img-and-link-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .detail-link-wrapper>.skill-outline{
        width: 30%;
    }

    //Contact Me Page
    //Adjusting contact form font sizes
    input[type=text]{
        font-size: 2vw;
    }
    textarea{
        font-size: 2vw;
    }
    button{
        font-size: 2vw;
    }
    
    //Adjusting layout of contact page
    .contact-body-container{
        flex-direction: row;
        padding-left: 7vw;
        padding-right: 7vw;
        gap: 5vw;
        justify-content: center;
    }
    .contact-form-container{
        max-width: 1000px;
    }
    .links-container > div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .links-container > div > .skill-outline{
        width: 10vw;
        height: 10vw;
        margin: 0px 0 20px 0;
    }
}