//Sass variables
$pink:#F29CED;
$fuchsia: #FF037A;
$purple:#3b1b72;
$standardFontSize:calc(1vw + 3px);
$h2FontSize:50px;

@mixin default-list-shape{
    height: 5vh;
border-radius: 30px;
text-align: center;
background-color: $purple;
border: $purple;
}

.intro-body-container{
    margin: 5px 5vw 5px 5vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2;
}

.intro-body-container > :nth-child(-n+2) > :nth-child(2){
    background-color: $purple;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin: 15px 30px 30px 0px;
    grid-column: 1;
}

.about-me-body-wrapper{
    padding: 15px 0px;
}
.qualities-container{
grid-column-start: 2;
grid-row-start: 1;
grid-row-end: span 2;
}

.quality-wrapper{
    @include default-list-shape();
    line-height: 5vh;
}

//Skills section CSS
.skills-icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
